.overview{
    padding:30px;
}

.overview h1{
    margin-bottom:30px;
}

.dashboard-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.dashboard-card{
    background:#fff;
    border-radius:15px;
    padding:30px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.12);
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-5px);
}

.dashboard-card h2{
    font-size:45px;
    margin-bottom:10px;
}

.dashboard-card h3{
    font-size:35px;
    margin:10px 0;
}

.dashboard-card p{
    font-size:18px;
    color:#555;
}

.books{
    border-top:6px solid #0d6efd;
}

.cart{
    border-top:6px solid #198754;
}

.orders{
    border-top:6px solid #fd7e14;
}