.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#0d6efd;
    padding:15px 40px;
}

.navbar h2{
    color:white;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:20px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.active-link{
    color:yellow;
    border-bottom:2px solid yellow;
}

.nav-buttons{
    display:flex;
    gap:10px;
}

.nav-buttons button{
    padding:8px 15px;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.nav-buttons button:hover{
    background:#ddd;
}