.book-card{
    width:280px;
    min-height:480px;
    background:white;
    border-radius:12px;
    padding:18px;
    text-align:center;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);

    display:flex;
    flex-direction:column;

    transition:0.3s;
}

.book-card:hover{
    transform:translateY(-8px);
}

.book-card img{
    width:100%;
    height:280px;
    object-fit:cover;
    border-radius:10px;
}

.book-content{
    flex:1;
    margin-top:15px;
}

.book-content h3{
    margin-bottom:10px;
}

.book-content p{
    margin:8px 0;
}

.book-content h4{
    color:#16a34a;
    margin-top:10px;
}

.button-group{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    margin-top:20px;
}

.view-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
}

.view-btn:hover{
    background:#1d4ed8;
}

.delete-btn{
    background:#dc2626;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
}

.delete-btn:hover{
    background:#b91c1c;
}
.favorite-btn{
    background:#f59e0b;
    color:white;
    border:none;
    padding:8px 10px;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.favorite-btn:hover{
    background:#d97706;
}