.login-container{
    width:400px;
    margin:50px auto;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
    text-align:center;
    background:white;
}

.login-container input{
    width:90%;
    padding:10px;
    margin:10px 0;
}

.password-box{
    display:flex;
    gap:10px;
}

.password-box input{
    flex:1;
}

.show-btn{
    padding:10px;
    cursor:pointer;
}

button{
    margin:10px;
    padding:10px 20px;
    cursor:pointer;
}

.loading{
    color:blue;
    font-weight:bold;
}

.success{
    color:green;
}

.error{
    color:red;
}

.forgot,
.register-link{
    color:blue;
    cursor:pointer;
    margin-top:10px;
}