*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}
/* ===========================
   LIGHT THEME
=========================== */

body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
    color:#222;
    transition:.3s;
}

body *{
    transition:.3s;
}

/* ===========================
   DARK THEME
=========================== */

body.dark-theme{
    background:#121212;
    color:white;
}
/* Navbar */

body.dark-theme .navbar{
    background:#1f1f1f;
}

/* Sidebar */

body.dark-theme .sidebar{
    background:#1b1b1b;
}

/* Footer */

body.dark-theme footer{
    background:#1f1f1f;
    color:white;
}

/* Books */

body.dark-theme .books-page{
    background:#121212;
}

/* Cards */

body.dark-theme .book-card,
body.dark-theme .stat-card,
body.dark-theme .dashboard-card,
body.dark-theme .register-card,
body.dark-theme .login-card{

    background:#202020;
    color:white;

}

/* Tables */

body.dark-theme table{
    background:#1f1f1f;
    color:white;
}

body.dark-theme th{
    background:#2563eb;
}

body.dark-theme td{
    border-color:#444;
}

/* Inputs */

body.dark-theme input,
body.dark-theme textarea,
body.dark-theme select{

    background:#2a2a2a;
    color:white;
    border:1px solid #555;

}

/* Headings */

body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme p,
body.dark-theme label{

    color:white;

}
body.dark-theme .btn{
    background:#2563eb;
}

body.dark-theme .view-btn{
    background:#2563eb;
}

body.dark-theme .delete-btn{
    background:#dc2626;
}

body.dark-theme .favorite-btn{
    background:#f59e0b;
}